body
  padding: 0
  margin: 0

.wrapper-homepage 
  display: grid
  grid-template-columns: auto
  grid-template-rows: 50px 75px auto 75px 35px
  min-height: 100vh

.header
  grid-column: 1
  grid-row: 1

.sidebar-left
  grid-column: 1
  grid-row: 2

.sidebar-right
  grid-column: 1
  grid-row: 4

.main
  grid-column: 1
  grid-row: 5
  font-family: courier new
  font-size: xxxx-large

.footer
  grid-column-start: 1
  grid-column-end: 4
  grid-row: 3

@media screen and (min-width: 960px)
.wrapper-homepage
  display: grid
  grid-template-columns: 100px auto 
  grid-template-rows: 50px auto 75px 35px
  min-height: 100vh

.header
  grid-column-start: 1
  grid-column-end: 3
  grid-row: 1

.sidebar-left
  grid-column-start: 1
  grid-column-end: 2
  grid-row: 2

.sidebar-right
  grid-column-start: 1
  grid-column-end: 3
  grid-row: 3

.main
  grid-column-start: 2
  grid-column-end: 3
  grid-row: 2

.footer
  grid-column-start: 1
  grid-column-end: 3
  grid-row: 4

@media screen and (min-width: 1240px)
.wrapper-homepage
  display: grid
  grid-template-columns: 100px auto 100px
  grid-template-rows: 100px auto 70px
  min-height: 100vh

.header
  grid-column-start: 1
  grid-column-end: 4
  grid-row: 1

.sidebar-left
  grid-column-start: 1
  grid-column-end: 2
  grid-row: 2

.sidebar-right
  grid-column-start: 3
  grid-column-end: 4
  grid-row: 2

.main
  grid-column-start: 2
  grid-column-end: 3
  grid-row: 2

.footer
  grid-column-start: 1
  grid-column-end: 4
  grid-row: 3

.wrapper-about 
  display: grid
  grid-template-columns: auto
  grid-template-rows: 50px 75px auto 75px 35px
  min-height: 100vh

.header
  grid-column: 1
  grid-row: 1

.sidebar-left
  grid-column: 1
  grid-row: 2

.sidebar-right
  grid-column: 1
  grid-row: 4

.main
  grid-column: 1
  grid-row: 5

.footer
  grid-column-start: 1
  grid-column-end: 4
  grid-row: 3

@media screen and (min-width: 960px)
.wrapper-about
  display: grid
  grid-template-columns: 100px auto 
  grid-template-rows: 50px auto 75px 35px
  min-height: 100vh

.header
  grid-column-start: 1
  grid-column-end: 3
  grid-row: 1

.sidebar-left
  grid-column-start: 1
  grid-column-end: 2
  grid-row: 2

.sidebar-right
  grid-column-start: 1
  grid-column-end: 3
  grid-row: 3

.main
  grid-column-start: 2
  grid-column-end: 3
  grid-row: 2

.footer
  grid-column-start: 1
  grid-column-end: 3
  grid-row: 4

@media screen and (min-width: 1240px)
.wrapper-about
  display: grid
  grid-template-columns: 100px auto 100px
  grid-template-rows: 100px auto 70px
  min-height: 100vh


.header
  grid-column-start: 1
  grid-column-end: 4
  grid-row: 1

.sidebar-left
  grid-column-start: 1
  grid-column-end: 2
  grid-row: 2

.sidebar-right
  grid-column-start: 3
  grid-column-end: 4
  grid-row: 2

.main
  grid-column-start: 2
  grid-column-end: 3
  grid-row: 2

.footer
  grid-column-start: 1
  grid-column-end: 4
  grid-row: 3



.wrapper-projects 
  display: grid
  grid-template-columns: auto
  grid-template-rows: 50px 75px auto 75px 35px
  min-height: 100vh

.header
  grid-column: 1
  grid-row: 1

.sidebar-left
  grid-column: 1
  grid-row: 2

.sidebar-right
  grid-column: 1
  grid-row: 4

.main
  grid-column: 1
  grid-row: 5


.footer
  grid-column-start: 1
  grid-column-end: 4
  grid-row: 3

@media screen and (min-width: 960px)
.wrapper-projects
  display: grid
  grid-template-columns: 100px auto 
  grid-template-rows: 50px auto 75px 35px
  min-height: 100vh

.header
  grid-column-start: 1
  grid-column-end: 3
  grid-row: 1

.sidebar-left
  grid-column-start: 1
  grid-column-end: 2
  grid-row: 2

.sidebar-right
  grid-column-start: 1
  grid-column-end: 3
  grid-row: 3

.main
  grid-column-start: 2
  grid-column-end: 3
  grid-row: 2

.footer
  grid-column-start: 1
  grid-column-end: 3
  grid-row: 4

@media screen and (min-width: 1240px)
.wrapper-projects
  display: grid
  grid-template-columns: 100px auto 100px
  grid-template-rows: 100px auto 70px
  min-height: 100vh


.header
  grid-column-start: 1
  grid-column-end: 4
  grid-row: 1

.sidebar-left
  grid-column-start: 1
  grid-column-end: 2
  grid-row: 2

.sidebar-right
  grid-column-start: 3
  grid-column-end: 4
  grid-row: 2

.main
  grid-column-start: 2
  grid-column-end: 3
  grid-row: 2

.footer
  grid-column-start: 1
  grid-column-end: 4
  grid-row: 3

.wrapper-contact 
  display: grid
  grid-template-columns: auto
  grid-template-rows: 50px 75px auto 75px 35px
  min-height: 100vh

.header
  grid-column: 1
  grid-row: 1

.sidebar-left
  grid-column: 1
  grid-row: 2

.sidebar-right
  grid-column: 1
  grid-row: 4

.main
  grid-column: 1
  grid-row: 5


.footer
  grid-column-start: 1
  grid-column-end: 4
  grid-row: 3

@media screen and (min-width: 960px)
.wrapper-contact
  display: grid
  grid-template-columns: 100px auto 
  grid-template-rows: 50px auto 75px 35px
  min-height: 100vh

.header
  grid-column-start: 1
  grid-column-end: 3
  grid-row: 1

.sidebar-left
  grid-column-start: 1
  grid-column-end: 2
  grid-row: 2

.sidebar-right
  grid-column-start: 1
  grid-column-end: 3
  grid-row: 3

.main
  grid-column-start: 2
  grid-column-end: 3
  grid-row: 2

.footer
  grid-column-start: 1
  grid-column-end: 3
  grid-row: 4

@media screen and (min-width: 1240px)
.wrapper-contact
  display: grid
  grid-template-columns: 100px auto 100px
  grid-template-rows: 100px auto 70px
  min-height: 100vh

.header
  grid-column-start: 1
  grid-column-end: 4
  grid-row: 1

.sidebar-left
  grid-column-start: 1
  grid-column-end: 2
  grid-row: 2

.sidebar-right
  grid-column-start: 3
  grid-column-end: 4
  grid-row: 2

.main
  grid-column-start: 2
  grid-column-end: 3
  grid-row: 2

.footer
  grid-column-start: 1
  grid-column-end: 4
  grid-row: 3
