body
  padding: 0
  margin: 0


.wrapper 
  display: grid
  grid-template-columns: auto
  grid-template-rows: 80px 80 px auto 60px 50px
  min-height: 100vh

.header
  background-color: red
  grid-column: 1
  grid-row: 1

.sidebar-left
  background-color: white
  grid-column: 1
  grid-row: 2

.sidebar-right
  background-color: blue
  grid-column: 1
  grid-row: 4

.main
  background-color: green
  grid-column: 1
  grid-row: 5

.footer
  background-color: yellow
  grid-column-start: 1
  grid-column-end: 4
  grid-row: 3

@media screen and (min-width: 960px)
.wrapper 
  display: grid
  grid-template-columns: 100px auto 
  grid-template-rows: 80px auto 60px 50px
  min-height: 100vh

.header
  background-color: red
  grid-column-start: 1
  grid-column-end: 3
  grid-row: 1

.sidebar-left
  background-color: white
  grid-column-start: 1
  grid-column-end: 2
  grid-row: 2

.sidebar-right
  background-color: blue
  grid-column-start: 1
  grid-column-end: 3
  grid-row: 3

.main
  background-color: green
  grid-column-start: 2
  grid-column-end: 3
  grid-row: 2

.footer
  background-color: yellow
  grid-column-start: 1
  grid-column-end: 3
  grid-row: 4

@media screen and (min-width: 1240px)
.wrapper 
  display: grid
  grid-template-columns: 100px auto 60px
  grid-template-rows: 80px auto 50px
  min-height: 100vh


.header
  background-color: red
  grid-column-start: 1
  grid-column-end: 4
  grid-row: 1

.sidebar-left
  background-color: white
  grid-column-start: 1
  grid-column-end: 2
  grid-row: 2

.sidebar-right
  background-color: blue
  grid-column-start: 3
  grid-column-end: 4
  grid-row: 2

.main
  background-color: green
  grid-column-start: 2
  grid-column-end: 3
  grid-row: 2

.footer
  background-color: yellow
  grid-column-start: 1
  grid-column-end: 4
  grid-row: 3






