#navbar.topnav
  .dropdown
    .button
      %div{:onclick => "scrollToElementWithId(0)"} Home
    .button
      %div{:onclick => "scrollToElementWithId(1)"} About
    .button
      %div{:onclick => "scrollToElementWithId(2)"} Projects
    .button
      %div{:onclick => "scrollToElementWithId(3)"} Curriculum
    .button
      %div{:onclick => "scrollToElementWithId(4)"} Contact







