#navbar.topnav
  .dropdown
    %button{:onclick => "scrollToElementWithId(0)"} Home
    %button{:onclick => "scrollToElementWithId(1)"} About
    %button{:onclick => "scrollToElementWithId(2)"} Projects
    %button{:onclick => "scrollToElementWithId(3)"} Contact

