#navbar.topnav
  .dropdown
    %button.dropbtn
      Dropdown
      %i.fa.fa-caret-down
    .dropdown-content
      %a{:href => "#"} Home
      %a{:href => "#"} About
      %a{:href => "#"} Projects
      %a{:href => "#"} Contacts
  %a.icon{:href => "javascript:void(0);", :onclick => "myFunction()"} ☰
