#navbar.topnav
  .dropdown
    %button{:onclick => "scrollToElementWithId(0)"} Home
    %button{:onclick => "scrollToElementWithId(1)"} Projects
    %button{:onclick => "scrollToElementWithId(2)"} About
    %button{:onclick => "scrollToElementWithId(3)"} Contact
  -#     Dropdown
  -#     %i.fa.fa-caret-down
  -#   .dropdown-content
  -#     %a.home_b{:href => "#", :onclick => "testScrolling(\"wrapper-homepage\")"} Home
  -#     %a.about_b{:href => "#", :onclick => "testScrolling(\"wrapper-about\")"} About
  -#     %a.projects_b{:href => "#", :onclick => "testScrolling(\"wrapper-projects\")"} Projects
  -#     %a.contacts_b{:href => "#", :onclick => "testScrolling(\"wrapper-contacts\")"} Contacts
  -# %a.icon{:href => "javascript:void(0);", :onclick => "javascript:void(0);"} ☰

