.wrapper-homepage{:id => "home"}
    .header 
        %p 
    .sidebar-right
        %p 
    .sidebar-left
        %p 
    .main 
        %h1 Angelica 
        %h1 Costantini
    .footer
        %p Footer

.wrapper-about{:id => "about"}
    .header
        %p header
    .sidebar-right
        %p Sidebar-right
    .sidebar-left
        %p Sidebar-left 
    .main 
        %p main
    .footer
        %p Footer

.wrapper-projects{:id => "projects"}
    .header
        %p header
    .sidebar-right
        %p Sidebar-right
    .sidebar-left
        %p Sidebar-left 
    .main 
        %p main
    .footer
        %p Footer

.wrapper-contact{:id => "contact"}
    .header
        %p header
    .sidebar-right
        %p Sidebar-right
    .sidebar-left
        %p Sidebar-left 
    .main 
        %p main
    .footer
        %p Footer

= partial 'partials/about'
= partial 'partials/projects'
= partial 'partials/contact'




