.wrapper-homepage{:id => "home"}
    .header 
        %p 
    .sidebar-right
        %p 
    .sidebar-left
        %p 
    .typewriter{:id => "main_hp"}
        %h1 Angelica Costantini 
        %h2 Software developer in the making.
    .footer
        %footer © AC Copyright 2018 HTML.am

.wrapper-about{:id => "about"}
    .header
        %p 
    .sidebar-right
        %p 
    .sidebar-left
        %p  
    .main
        = partial 'partials/about'
    .footer
        %footer © AC Copyright 2018 HTML.am

.wrapper-projects{:id => "projects"}
    .header
        %p 
    .sidebar-right
        %p 
    .sidebar-left
        %p 
    .main 
        = partial 'partials/projects'
    .footer
        %footer © AC Copyright 2018 HTML.am

.wrapper-curriculum{:id => "curriculum"}
    .header
        %p 
    .sidebar-right
        %p 
    .sidebar-left
        %p  
    .main 
        = partial 'partials/curriculum'
    .footer
        %footer © AC Copyright 2018 HTML.am

.wrapper-contact{:id => "contact"}
    .header
        %p 
    .sidebar-right
        %p 
    .sidebar-left
        %p  
    .main 
        = partial 'partials/contact'
    .footer
        %footer © AC Copyright 2018 HTML.am









