.wrapper
    .header
        %p header
    .sidebar-right
        %p Sidebar-right
    .sidebar-left
        %p Sidebar-left 
    .main 
        %p main
    .footer
        %p Footer

= partial 'partials/about'
= partial 'partials/projects'
= partial 'partials/contact'

