.wrapper-homepage
    .header
        %p 
    .sidebar-right
        %p 
    .sidebar-left
        %p follow me  Github  Linkedin  Instagram
    .main 
        %h1 Angelica 
        %h1 Costantini
    .footer
        %p 

.wrapper-about
    .header
        %p header
    .sidebar-right
        %p Sidebar-right
    .sidebar-left
        %p Sidebar-left 
    .main 
        %p main
    .footer
        %p Footer

.wrapper-projects
    .header
        %p header
    .sidebar-right
        %p Sidebar-right
    .sidebar-left
        %p Sidebar-left 
    .main 
        %p main
    .footer
        %p Footer

.wrapper-contact
    .header
        %p header
    .sidebar-right
        %p Sidebar-right
    .sidebar-left
        %p Sidebar-left 
    .main 
        %p main
    .footer
        %p Footer

= partial 'partials/about'
= partial 'partials/projects'
= partial 'partials/contact'

